.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.page {
  text-align: center;
}

table {
  margin: 50px auto 10px;
}
td {
  border-bottom: 1px solid lightgray;
  min-width: 200px;
}
thead>tr>td {
  text-align: center;
}

.pagination-link {
  cursor: pointer;
  color: darkblue;
}

.form-row {
  margin-top: 1rem;
}
.form-row>label>span {
  width: 64px;
  display: inline-block;
}
.loader {
  margin: 1rem;
}
